/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
h4, .h4, h5, .h5, h6, .h6 {
    text-transform: capitalize;
}
.jumbotron {
    padding: 10px 0;
    min-height:700px
}
.jumbotron h2, .jumbotron .h2 {
    font-size: 33px;
}
.bio {
    font-size: 14px;
    line-height: 1.7;
    min-height: 180px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: block;
}
.gallery-item {
    background-color: white;
    box-shadow: 0 0 1px #666 inset;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.gallery-item img {
    width: 100%;
}
.gallery-item .content-gallery {
    text-align: center;
}
.signup {
    margin: 0 auto;
    padding: 0 20px;
}
.form-signin
{
    max-width: 390px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 15px 0 30px;
    background-color: #f7f7f7;
    -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
} 
.modal-body {
    height: 401px;
    overflow: auto;
    padding: 15px;
    position: relative;
}
label.error {
    color: #ea5200;
    font-size: 12px;
}
input.error {
    border: 1px solid #ea5200;
}
ul.profile {
    min-width: 222px;
}
i.icone {
    margin-right: 5px;
}
.close:hover, .close:focus {
    color: #2e6da4;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}
hr{
    border: 0.1px solid #dcdcdc;
    margin-top: 0 !important;
}
.avatar{
    height:130px;
    width:130px;
}
.profile .item a {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: block;
    height: 180px;
    text-align: center;
    background-color: white;

}
span.img-circle {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 128px;
    margin: 0 17px 15px;
    width: 128px;
}
.item a{
    color:#333;
}
.item a:hover{
    color:#333;
    text-decoration: none;
}
.alert .close {
    margin-top: 0;
    color: #000;
    display: inline-block;
    font-size: 3rem;
    opacity: 0.2;
    transition: all 0.3s ease 0s;
    z-index: 1000;
    font-weight: bold;
    line-height: 13.5px;
    position: unset;
}
.image {
    text-align: center;
}
.image .fa.fa-picture-o.icone {
    font-size: 117px;
    text-align: center;
}
.form-forgot_password {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
}
.cat-border {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    position: relative;
    margin-bottom: 10px;
}
.cat-3 .cat-bg, .cat-3.active {
    background-color: #62c462;
    font-size: 18px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.cat-1 .cat-bg, .cat-2 .cat-bg, .cat-3 .cat-bg, .cat-4 .cat-bg, .cat-5 .cat-bg, .cat-6 .cat-bg, .cat-7 .cat-bg, .cat-8 .cat-bg, .cat-9 .cat-bg {
    color: #fff;
}
.cat-tag {
    display: inline-block;
    padding: 3px 20px 3px 6px;
}
.like-btn {
    background-color: #5bc0de;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    position: absolute;
    right: 0px;
    top: 0%;
}
.img-title {
    font-size: 20px;
    padding-left: 10px;
}
.img-decs {
    color: #333;
    font-size: 14px !important;
    line-height: 1.3;
    margin-top: 15px;
}
.modal-header .close {
    right: 19px;
    top: 5px;
}