<section class="profile">
<div class="row">
    <div class="alert alert-success" data-ng-show="passwordchanged">
        <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> Your password has been updated successfully.
    </div>

    <div class="alert alert-danger" data-ng-show="wrongpassword">
        <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> Your entered a wrong password.
    </div>
    
    <div class="alert alert-danger" data-ng-show="didnotmatch">
        <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> Password and Confirm Password did not match.
    </div>
         
    <div class="host-home col-sm-2">
        <div class="item">
            <a href="{{ master.local_app_url+'#/dashboard' }}">
                <span class="img-circle" style="background-image:url('{{ user_avatar }}') !important;height:130px !important; width:130px !important;"></span>
                <span class="h4">{{ user_info[0].first_name+' '+user_info[0].last_name }}</span>
            </a>
        </div>
    </div>
    <div class='col-sm-10' style=' padding-left: 0;'>
            <div class="col-md-12">
                <div class="account-wall" style='margin-top:0 !important;'>
                    <form id="change_password" name="change_password" class="signup ng-pristine ng-valid" data-ng-submit="doChangePassword(change_password.$valid)" novalidate="novalidate">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" data-ng-model="password_info.user_password" type="password" name="current_password" id="current_password" placeholder="Current Password" class="form-control input-lg">
                                <label class="error" data-ng-show="change_password.current_password.$error.required && (!change_password.$pristine || change_password.$submitted)">Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" data-ng-model="password_info.user_new_password" type="password" name="password" id="password" placeholder="New Password" class="form-control input-lg">
                                <label class="error" data-ng-show="change_password.password.$error.required && (!change_password.$pristine || change_password.$submitted)">Required</label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" data-ng-model="password_info.confirm_password" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" class="form-control input-lg">
                                <label class="error" data-ng-show="change_password.confirm_password.$error.required && (!change_password.$pristine || change_password.$submitted)">Required</label>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-6 col-md-4"><input type="submit" class="btn btn-primary btn-block btn-lg"></div>
                    </div>

                    </form>
                </div>

            </div>       
    </div>
</div>
</section>