<section class="profile">
    <div class="row">
        <div class="host-home col-sm-2">
            <div class="item">
                <a href="">
                    <span class="img-circle" style="background-image:url('{{ user_avatar }}') !important;height:130px !important; width:130px !important;"></span>
                    <span class="h4">{{ owner[0].first_name+" "+owner[0].last_name }}</span>
                </a>
            </div>
        </div>
        <div class='col-sm-10 bio'>{{ owner[0].bio }}</div>
    </div>
</section>
<h3 id="gallery">Your Gallery</h3>
<hr>
<div class="row">
    
    <div class="coverimg">
        <div class="col-md-2 col-sm-6">
            <div class="gallery-item">
                <div class="image">
                    <a href="{{ '#/upload_image' }}"><i class="fa fa-picture-o icone"></i></a>
                </div>
                <div class="content-gallery">
                    <a href="{{ '#/upload_image' }}"><h4>Add New Image</h4></a>
                </div>
            </div>
        </div>
   
        <div class="col-md-2 col-sm-6" ng-repeat="x in gallery_images">
            <div class="gallery-item" style="height:177px;">
                <div class="image">
                    <a href="javascript:void(0)"><img data-ng-src="{{ master.gallery_image_path+'/'+x.image }}" data-gallery="first-gallery" alt="" style='max-height: 97px;'/></a>
                </div>
                <div class="content-gallery">
                    <h4>{{ x.title | limitTo: 15 }}{{x.title.length > 15 ? '...' : ''}}</h4>
                    <a data-target="#delete" data-toggle="modal" href="javascript:void(0)" data-ng-click="setValue(x.id,$index);"><i class="fa fa-trash-o icone" style='color: #ee5f5b;font-size: 16px;margin-right: 5px;'></i></a>
                    <a href="{{ master.local_app_url+'#/edit_image/'+x.id }}"><i class="fa fa-pencil-square-o" style='color: #62c462;font-size: 16px;margin-right: 3px;'></i></a>
                    <a href="{{ master.local_app_url+'#/detail/'+x.id }}"><i class="fa fa-search-plus" style='color: #5bc0de;font-size: 16px;'></i></a>
                </div>
            </div>
        </div>
    </div>    
</div>
<div id="delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <form enctype="multipart/form-data" id="galleryForm" role="form" data-ng-submit="deleteImage()" class="signup ng-pristine ng-valid" novalidate="novalidate">
                <input type="hidden" data-ng-model="gallery_image_delete_info.image_id" name="image_id" id="image_id">
                <input type="hidden" data-ng-model="gallery_image_delete_info.index_id" name="counter_id" id="counter_id">
                <div class="modal-body" style="height:70px">
                    <p style="font-size: 17px;">Are you sure you want to delete this ?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" ><i class="fa fa-trash-o icone"></i>Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>