<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <h2 class="text-center login-title">Change Your Password</h2>
            
            <div class="account-wall">
                <div class="row"><h2 class="text-center login-title" style="margin-top: 0;"><small>Let's find your account</small></h2></div>
                <form id="forgot_password" class="form-signin form-forgot_password ng-pristine ng-valid" accept-charset="UTF-8" action="http://localhost:8000/forgot_password" method="POST" >
                    <input type="hidden" value="WNhZqCePRYWusd8DB0KFFB8gruYMLTsoJve3Pnxc" name="_token">
                <div class="row ">
                    <div style="padding-right: 0;" class="col-xs-6 col-sm-6 col-md-8">
                    <input type="email" value="" name="email" placeholder="Email address" class="form-control">
                    
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                    <input type="submit" value="Continue" class="btn btn-lg btn-primary btn-block">   
                    </div>
                    
                </div></form>
            </div>
            
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $().ready(function () {
        $("#forgot_password").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                email: {
                    required: "Required",
                    email: "Invalid Email"
                }
            }
        });
    });

</script>