<style>
a.image_title {
    color: #333;
    text-transform: capitalize;
}
a.image_title:hover {
    text-decoration: none;
}
a.image_title h4{
    margin-top: 22px;
}
</style>
<div class="coverimg">
    <div class="col-md-3 col-sm-6" data-ng-show="uploadImageGallery">
            <div class="gallery-item">
                <div class="image">
                    <a href="{{ '#/upload_image' }}"><i class="fa fa-picture-o icone" style="font-size: 176px;"></i></a>
                </div>
                <div class="content-gallery">
                    <a href="{{ '#/upload_image' }}"><h4>Add New Image</h4></a>
                </div>
            </div>
    </div>
    <ng-gallery images="images" thumbs-num="10"></ng-gallery>


</div>
<div class="text-center">
    <ul class="pagination pagination-lg ">
        <li  ng-class="{active: page==$index + 1}" ng-repeat="datalist in total_rec"><a href="{{ '#/home?page=' }}{{ $index + 1 }}" >{{ $index + 1 }}</a></li>
    </ul>
</div>
