<div class="row">
    <div class="coverimg">
        <div class="col-md-9 col-sm-6">
            <div class="gallery-item">
                <div class="cat-border cat-3">
                    <span class="cat-tag cat-bg"><i class="fa fa-picture-o"></i> Image</span><span class="img-title"><strong style="text-transform: capitalize;">{{ detail.image_detail[0].title }}</strong></span>
                    <span class="like-btn ion-thumbsup">&nbsp;<span class="like-text">Posted <strong>{{ detail.image_detail[0].created_at }}</strong></span></span>
                </div>
                 <div class="image">
                    <img data-ng-src="{{ master.gallery_image_path+detail.image_detail[0].image }}" data-ng-if="detail.image_detail[0].image != null && detail.image_detail[0].image != '' " alt=""/>
                </div>
                <p class="img-decs">{{ detail.image_detail[0].description }}</p> 
                <strong>Tags:</strong>
                <span style="text-transform: capitalize;" ng-repeat="tags in detail.image_tags">{{ tags.tag + ',' }}</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="gallery-item">
                <div class="image">
                    <img data-ng-src="{{ master.user_image_path+detail.owner_detail[0].avatar }}" data-ng-if="detail.owner_detail[0].avatar != null && detail.owner_detail[0].avatar != '' " />
                    <img data-ng-src="{{ master.user_image_path+'default_user_img.jpg'}}" data-ng-if="detail.owner_detail[0].avatar == null || detail.owner_detail[0].avatar == '' " />
                </div>
                <div class="content-gallery">
                    <h3 style="text-transform: capitalize;">{{ detail.owner_detail[0].first_name + ' ' + detail.owner_detail[0].last_name  }}</h3>
                </div>
            </div>
        </div>
    </div>    
</div>