<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <h2 class="text-center login-title"><i class="fa fa-sign-in icone"></i> Please Sign in</h2>
            <div class="alert alert-danger" data-ng-show="invalidUserName">
                <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> Invalid Email or Password.
            </div>
            <div class="alert alert-success" data-ng-show="signedUpSuccess">
                <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> You has been registered successfully <strong>Please login</strong>.
            </div>
            <div class="account-wall">
                <form name="loginForm" id="loginForm" class="form-signin" data-ng-submit="loginUser(loginForm.$valid)" novalidate="novalidate">
                    <input type="email" name="email" placeholder="Email" class="form-control" data-ng-model="login_info.user_name" required="required" data-ng-class="{ 'error':!loginForm.email.$valid && (!loginForm.$pristine || loginForm.$submitted) }">
                    <label class="error" data-ng-show="loginForm.email.$error.required && (!loginForm.$pristine || loginForm.$submitted)">Required</label>
                    <label class="error" data-ng-show="loginForm.email.$error.email && (!loginForm.$pristine || loginForm.$submitted)">Invalid Email Address</label>
                    
                    <input type="password" name="password" placeholder="Password" class="form-control" data-ng-model="login_info.user_password" required="required" data-ng-class="{ 'error':loginForm.password.$error.required && (!loginForm.$pristine || loginForm.$submitted) }">
                    <label class="error" data-ng-show="loginForm.password.$error.required && (!loginForm.$pristine || loginForm.$submitted)">Required</label>
                    
                    <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
                    <label style=" margin-left: 20px;" class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">Remember me
                    </label>
<!--                    <a class="pull-right" href="{{ master.local_app_url+'#/forgot_password'}}"><label class="checkbox">Forgot Password</label></a>-->

                </form>
                
            </div>
            <a href="{{ master.local_app_url+'#/sign_up'}}" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>