<div class="container">
    <div class="row">
        <div class="alert alert-success" data-ng-show="profileUpdate">
                <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> Your profile has been updated successfully.
        </div>
        <div class="col-sm-6 col-md-12 col-md-offset-0">
            <h2 class="login-title"><i class="fa fa-cogs icone"></i> Manage Account</h2>
            <div class="account-wall">
                <form enctype="multipart/form-data" id="manage_profile" data-ng-submit="updateProfile(manage_profile.$valid)" class="signup" name="manage_profile" novalidate="novalidate">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" type="text" data-ng-model="profile_info.user_firstname" name="first_name" id="first_name" placeholder="First Name" class="form-control input-lg">
                                <label class="error" data-ng-show="manage_profile.first_name.$error.required && (!manage_profile.$pristine || manage_profile.$submitted)">Required</label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" type="text" data-ng-model="profile_info.user_lastname" name="last_name" id="last_name" placeholder="Last Name" class="form-control input-lg">
                                <label class="error" data-ng-show="manage_profile.last_name.$error.required && (!manage_profile.$pristine || manage_profile.$submitted)">Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" data-ng-model="profile_info.user_name" name="user_name" readonly="readonly" id="user_name" placeholder="Display Name" class="form-control input-lg">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" data-ng-model="profile_info.user_email" name="email" readonly="readonly" id="email" placeholder="Email Address" class="form-control input-lg">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" type="text" data-ng-model="profile_info.user_dob" name="dob" readonly="readonly" id="dob" placeholder="Date of Birth" class="form-control input-lg">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" type="text" data-ng-model="profile_info.user_phone" name="contact" id="contact" placeholder="Contact Number" class="form-control input-lg">
                                <label class="error" data-ng-show="manage_profile.contact.$error.required && (!manage_profile.$pristine || manage_profile.$submitted)">Required</label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required="required" type="text" data-ng-model="profile_info.user_address" name="address" id="address" placeholder="Address" class="form-control input-lg">
                                <label class="error" data-ng-show="manage_profile.address.$error.required && (!manage_profile.$pristine || manage_profile.$submitted)">Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-1" data-ng-if="profile_info.user_profile_image != null && profile_info.user_profile_image != '' ">
                            <div class="form-group">
                                <img id="blah" data-ng-src="{{ master.user_image_path+profile_info.user_profile_image }}" style="width:60px" class="thumbnil" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <div class="form-group">
                                <input type="file" name="avatar" id="avatar" data-ng-model="profile_info.user_profile_image" onchange="angular.element(this).scope().profile_info.user_profile_image=this.files[0]">
                            </div>
                        </div>
                    </div>    
                    <div class="form-group">
                        <textarea required="required" data-ng-model="profile_info.user_bio" rows="10" cols="50" name="bio" id="bio" placeholder="Enter yor Bio" class="form-control input-lg"></textarea>
                        <label class="error" data-ng-show="manage_profile.bio.$error.required && (!manage_profile.$pristine || manage_profile.$submitted)">Required</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-4"><input type="submit" value="Update" class="btn btn-primary btn-block btn-lg"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(function () {
        $('#dob').datetimepicker({
            pickTime: false
        });
    });
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#avatar").change(function(){
    readURL(this);
})
</script>