<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-md-offset-2">
            <h2 class="text-center login-title"><i class="fa fa-sign-in icone"></i> Please Sign Up <small>It's free and always will be.</small></h2>
            <div class="alert alert-info" data-ng-show="alreadyexistsuser">
                    <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
                    <strong>Info!</strong> User with this email already exists.
            </div>
            <div class="alert alert-info" data-ng-show="didnotmatch">
                    <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
                    <strong>Info!</strong> Password and Confirm Password did not match.
            </div>
            <div class="account-wall">
                <form id="registerForm" name="registerForm" class="signup ng-pristine ng-valid" data-ng-submit="registerUser(registerForm.$valid)" novalidate="novalidate" >
                    
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input required="required" type="text" data-ng-model="signup_info.first_name" name="first_name" id="first_name" placeholder="First Name" class="form-control input-lg" data-ng-class="{ 'error':registerForm.first_name.$error.required && (!registerForm.$pristine || registerForm.$submitted) }">
                            <label class="error" data-ng-show="registerForm.first_name.$error.required && (!registerForm.$pristine || registerForm.$submitted)">Required</label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input required="required" type="text" data-ng-model="signup_info.last_name" name="last_name" id="last_name" placeholder="Last Name" class="form-control input-lg" data-ng-class="{ 'error':registerForm.last_name.$error.required && (!registerForm.$pristine || registerForm.$submitted) }">
                            <label class="error" data-ng-show="registerForm.last_name.$error.required && (!registerForm.$pristine || registerForm.$submitted)">Required</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input required="required" type="text" data-ng-model="signup_info.display_name" name="user_name" id="user_name" placeholder="Display Name" class="form-control input-lg" data-ng-class="{ 'error':registerForm.user_name.$error.required && (!registerForm.$pristine || registerForm.$submitted) }">
                    <label class="error" data-ng-show="registerForm.user_name.$error.required && (!registerForm.$pristine || registerForm.$submitted)">Required</label>
                </div>
                <div class="form-group">
                    <input required="required" type="email" data-ng-model="signup_info.user_email" name="email" id="email" placeholder="Email Address" class="form-control input-lg" data-ng-class="{ 'error':!registerForm.email.$valid && (!registerForm.$pristine || registerForm.$submitted) }">
                    <label class="error" data-ng-show="registerForm.email.$error.required && (!registerForm.$pristine || registerForm.$submitted)">Required</label>
                    <label class="error" data-ng-show="registerForm.email.$error.email && (!registerForm.$pristine || registerForm.$submitted)">Invalid Email Address</label>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input required="required" type="password" data-ng-model="signup_info.user_password" name="password" id="password" placeholder="Password" class="form-control input-lg" data-ng-class="{ 'error':registerForm.password.$error.required && (!registerForm.$pristine || registerForm.$submitted) }">
                             <label class="error" data-ng-show="registerForm.password.$error.required && (!registerForm.$pristine || registerForm.$submitted)">Required</label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input required="required" type="password" data-ng-model="signup_info.password_confirmation" name="password_confirmation" id="password_confirmation" placeholder="Confirm Password" class="form-control input-lg" data-ng-class="{ 'error':registerForm.password_confirmation.$error.required && (!registerForm.$pristine || registerForm.$submitted) }">
                            <label class="error" data-ng-show="registerForm.password_confirmation.$error.required && (!registerForm.$pristine || registerForm.$submitted)">Required</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <span class="terms_and_conditions" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</span> set out by this site.
                    </div>
                </div>
                <div style="padding: 15px 200px 0;" class="row">
                    <div class="col-xs-6 col-md-12"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg"></div>
                </div>

                </form>
            </div>
            <a href="{{ master.local_app_url+'#/sign_in'}}" class="text-center new-account">Already Account, Please Login </a>
        </div>
    </div>
</div>
<div id="t_and_c_m" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Terms & Conditions</h4>
            </div>
            <div class="modal-body">

                <p style="font-size: 17px;"><small>Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here.</small></p>
                <p style="font-size: 17px;"><small>Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here.</small></p>
                <p style="font-size: 17px;"><small>Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here. Some Description Will Be Written Here.</small></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    input.success {
    border: 1px solid green;
}
    .terms_and_conditions{
        cursor: pointer;
        color:#337ab7;
    }
    .terms_and_conditions:hover{
        text-decoration: underline;
    }
</style>