<section class="profile">
    <div class="row">
        <div class="alert alert-success" data-ng-show="imageuploadstatus">
            <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your image has been updated successfully.
        </div>
        <div class="host-home col-sm-2">
            <div class="item">
                <a href="{{ master.local_app_url+'#/dashboard' }}">
                        <span class="img-circle" style="background-image:url('{{ user_avatar }}') !important;height:130px !important; width:130px !important;"></span>
                        <span class="h4">{{ user_info[0].first_name+' '+user_info[0].last_name }}</span>
                </a>
            </div>
        </div>
        <div class='col-sm-10' style=' padding-left: 0;'>
            <div class="col-md-12">
                <div class="account-wall" style='margin-top:0 !important;'>
                    <form name="galleryForm" enctype="multipart/form-data" id="galleryForm" data-ng-submit="updateGallery(galleryForm.$valid)" class="signup" novalidate="novalidate">
                        <input type="hidden" data-ng-model="gallery_image_info.image_id" name="image_id" id="image_id">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-7">
                                <div class="form-group">
                                    <input required="required" type="text" data-ng-model="gallery_image_info.image_title" name="title" id="title" placeholder="Title" class="form-control input-lg">
                                    <label class="error" data-ng-show="galleryForm.title.$error.required && (!galleryForm.$pristine || galleryForm.$submitted)">Required</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-2" ng-if="gallery_image_info.image != null && gallery_image_info.image != '' ">
                                <div class="form-group">
                                    <img id="blah" data-ng-src="{{ master.gallery_image_path+gallery_image_info.image }}" style="max-width:128px" class="thumbnil" >
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4" ng-if="gallery_image_info.image_id != 0 ">
                                <div class="form-group">
                                    <input type="file" name="image" id="image" data-ng-model="gallery_image_info.image" onchange="angular.element(this).scope().gallery_image_info.image=this.files[0]"> 
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4" ng-if="gallery_image_info.image_id == 0 ">
                                <div class="form-group">
                                    <input required="required" type="file" name="image" id="image" data-ng-model="gallery_image_info.image" onchange="angular.element(this).scope().gallery_image_info.image=this.files[0]"> 
                                    <label class="error" data-ng-show="galleryForm.image.$error.required && (!galleryForm.$pristine || galleryForm.$submitted)">Required</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" data-ng-model="gallery_image_info.image_tags" name="tags" id="tags" placeholder="Tags i.e (tag1,tag2,tag3,...)" class="form-control input-lg">
                        </div>
                        <div class="form-group">
                            <textarea data-ng-model="gallery_image_info.image_desc" rows="10" cols="50" name="description" id="description" placeholder="Description" class="form-control input-lg">{{ gallery_image_info.image_desc }}</textarea>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <input type="submit" value="Upload" class="btn btn-primary btn-block btn-lg">
                            </div>
                        </div>
                    </form>
                </div>
            </div>       
        </div>
    </div>
</section>
<script type="text/javascript" language="javascript">
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#image").change(function(){
    readURL(this);
})
</script>