<footer style="text-align: center">
        <p>&copy; Gallery 2016</p>
</footer>
<!-- Bootstrap core CSS -->
<link media="all" type="text/css" rel="stylesheet" href="media/bootstrap/css/bootstrap.min.css">
<link media="all" type="text/css" rel="stylesheet" href="media/bootstrap/font-awesome/css/font-awesome.min.css">
<link media="all" type="text/css" rel="stylesheet" href="media/bootstrap/css/jumbotron.css">
<link media="all" type="text/css" rel="stylesheet" href="media/gallery/css/jquery-gallery.css">
<link media="all" type="text/css" rel="stylesheet" href="media/bootstrap/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" type="text/css" href="media/src/css/ngGallery.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
