<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="loadUserInfo">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ master.local_app_url+'#/home'}}">Gallery</a>
        </div>      
        <div id="navbar" class="navbar-collapse collapse" >
            <div class="navbar-form navbar-right" >
                    <div class="btn-group" data-ng-show="afterLogin">
                        <button type="button" class="btn btn-success" style="text-transform: capitalize;" >Welcome {{ logedin_user_name }}</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu profile" role="menu">
                            <li><a href="{{ master.local_app_url+'#/dashboard' }}"><i class="fa fa-dashboard icone"></i> Dashboard</a></li>
                            <li><a href="{{ master.local_app_url+'#/manage_profile' }}"><i class="fa fa-cogs icone"></i> Profile Settings</a></li>
                            <li><a href="{{ master.local_app_url+'#/change_password' }}"><i class="fa fa-bars icone"></i> Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ master.local_app_url+'#/signout'}}"><i class="fa fa-sign-out icone"></i> Sign out</a></li>
                        </ul>
                    </div>
                
                    <div class="btn-group" data-ng-hide="beforeLogin">
                        <a href="{{ master.local_app_url+'#/sign_in'}}" class="btn btn-primary">Sign in</a>
                        <a href="{{ master.local_app_url+'#/sign_up'}}" class="btn btn-primary">Sign up</a>
                    </div>
                
            </div>
        </div>
    </div>
</nav>